{% extends "sh_app/base.html" %}
{% load static %}

{% block title %}

{{article.title}}

{% endblock %}

{% block article %}


<div class = "sh-article">


<h1 class = "sh-article-title"> {{article.title}} </h1>


<p class = "sh-article-content">
    {{article.basic_description}}
</p>

{% for section in article.articlesection_set.all %}

<div class = "sh-article-section">
    <h2 class = "sh-article-section-title">
        {{section.title}}
    </h2>

    <p class = "sh-article-content">
        {{section.content}}
    </p>

</div>


{% endfor %}

{% include "sh_app/image_gallery.html" with image_set=article.gallery.all %}


</div>
{% endblock %}