{% extends "sh_app/base.html" %}
{% load static %}

{% block article %}

<div class="lc1">
    <div class="side1" style="margin-left: 10px;">
        <p>Mój artystyczny awatar  🙂</p>
        <span style="margin-left: 60px;"><img src="{% static 'sh_app/xd1.png' %}" style="width: 50px; height: 150px;"/></span> 
  
        
    </div>

    <div class="main1">
        <p>
            Saturnin Ufolud<br/>
            Mój adres e-mail: <a href="mailto: alienufobomber@gmail.com">alienufobomber@gmail.com</a> <br/>
            Mój Facebook: <a href="https://www.facebook.com/saturninufolud">www.facebook.com/saturninufolud</a><br/>
            <br/>
            Prawdziwa tożsamość (możliwe, że kiedyś usunę z tej strony 🙂): <br/>
            Michał Sobolak
        </p>
    </div>

    <div class="side1">
    </div>
</div>

{% endblock %}