{% extends "sh_app/base.html" %}
{% load static %}


{% block title %}
Galazar przepraszać
{% endblock %}



{% block article %}

<div class="lc1">
    <div class="side1"></div>
    <div class="main1">

        <p>
            Strony nie znaleziono (404).
        </p>

        <p>
            Galazar przepraszać Ziemianina.
        </p>

    </div>


    <div class="side1">
        <img src="{% static 'sh_app/galazar.png' %}" style="width: 50px; height: 150px;"/>
    </div>

</div>

{% endblock %}