{% extends "sh_app/base.html" %}
{% load static %}

{% block title %}
Plan 9
{% endblock %}


{% block article %}

<div class = "sh-article" style="margin-top: 10px;">

<form action="{% url 'sh_app:plan9' %}" method="get">

    <label for="p">Podaj p</label>
    <input name="p" type="number">

    <label for="q">Podaj q</label>
    <input name = "q" type="number">

    <button type = "submit">submit</button>
    <button type = "reset">reset</button>

</form>

{% if result %}

<p style="font-weight: bold;font-size: 32px;">{{result}}</p>

{% endif %}

</div>

{% endblock %}