{% extends "sh_app/base.html" %}
{% load static %}


{% block title %}
Galazar przepraszać
{% endblock %}



{% block article %}

<div class="lc1">
    <div class="side1">

        <img class ="centered1" src="{% static 'sh_app/galazar404.png' %}" />
    </div>
    <div class="main1">

        <div class = "galazar1">
            <p>
                Strony nie znaleziono.
            </p>
    
            <p>
                Galazar przepraszać Ziemianina.
            </p>
        </div>
    </div>


    <div class="side1">
    </div>

</div>

{% endblock %}